* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 section {
  width: 1920px;
  height: 298px;
  display: flex;
  justify-content: space-between;
  /* padding: 50px 0; */
  background-color: #fff;
}
.light{
color:#232323;
background-color: #fff;
}
.dark{
    color:#fff;
    background-color: #000;
    & .category{
    background-color: #403C39;
    }
    & .category h3{
    color:#909090;
    }
    & .categories{
    background-color: #000;
    }
}
 .categories {
  max-width: 1600px;
  height: 282px;
  margin: auto;
  display: flex;
  padding: 32px;
  justify-content: space-between;
}

 .category {
  width: 300px;
  height: 218px;
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  /* border: 1px solid #232323; */
}

.category img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  /* margin-bottom: 20px; */
}

.category h3 {
  font-size: 24px;
  color: #403C39;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  position: absolute;
  top: 100px;
  left: 10px;
}

.category p {
  width: 300px;
  height: 54px;
  font-size: 14px;
  color: #909090;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
  position: absolute;
  top: 144px;
  white-space: wrap;
  overflow-y: hidden;
  position: relative;
  left: 10px;
}

@keyframes train {
  20% {
    transform: translatey(0);
  }
  80% {
    transform: translatey(-60%);
  }
}

