*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.header {
    width: 1600px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #f5821f;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav ul li {
    margin-right: 20px;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: #333;
  }

  .authButtons button:first-child{
    margin-left: 10px;
    padding: 10px 20px;
    color: #f5821f;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    /* color: #fff; */
    cursor: pointer;
  }
  
  .authButtons button:last-child{
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #f5821f;
    border: none;
    color: #fff;
    cursor: pointer;
  }
.section{
    margin-right: 25px;
width: 120px;
height: 40px;
background-color: #fff;
border:1px double #232323;
border-radius: 7px;
color:#232323;
font-size: 18px;
}
.option{
font-size: 18px;
}